My favourite color is {{ favourite_color }}

{% if age > 18 %} 

You are an adult, and you can vote in the voting center: {{ voting_center }}

{% else %}

Sorry, you are minor, and you can't vote yet.

{% endif %}

Here’s a list of fruits:

{% for fruit in fruits %}

    {{ fruit }}

{% endfor %} 

